
<div class="row">
    <div class="col-12">
      <div class="card card-success">
        <div class="card-header">
          <h3  align="center">Profile Patient</h3>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-default float-right" data-toggle="modal" data-target="#modal-default">
          Ajouter Consultation
          </button>
          
            <div class="card-body">
                <div class="card-body box-profile">
              <div class="text-center">
                
                     
              </div>
              <h3 class="profile-username text-center">Iteb Moussa</h3>
              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>C.I.N</b> <a class="float-right">11821343</a>
                </li>
               
                <li class="list-group-item">
                  <b>Date Naissance</b> <a class="float-right">16.05.1998</a>
                </li>
                <li class="list-group-item">
                  <b>Age</b> <a class="float-right">23</a>
                </li>
                <li class="list-group-item">
                  <b>Email</b> <a class="float-right">itebmoussa577@gmail.com</a>
                </li>
                <li class="list-group-item">
                  <b>Sexe</b> <a class="float-right">Femme</a>
                </li>
                <li class="list-group-item">
                  <b>Civilité</b> <a class="float-right">Célibataire</a>
                </li>
                <li class="list-group-item">
                  <b>Profession</b> <a class="float-right">Etudiante</a>
                </li>
                <li class="list-group-item">
                  <b>Numéro Téléphone</b> <a class="float-right">55100325</a>
                </li>
                <li class="list-group-item">
                  <b>Adresse</b> <a class="float-right">Rcharcha</a>
                </li>
                <p class="text-muted text-center">Maladie Chronique ET APCI</p>
                <li class="list-group-item">
                  <b>Nom Maladie Chronique</b> <a class="float-right"></a>
                </li>
                <li class="list-group-item">
                  <b>Traitement Chronique</b> <a class="float-right">Cortef 10</a>
                </li>
              </ul>
              </div>
              <div class="card-body">
                <p class="text-muted text-center">Caisse : CNSS</p>
                <li class="list-group-item">
                  <b>Identification:</b> <a class="float-right">0055641951-04</a>
                </li>
                <li class="list-group-item">
                  <b>Qual:</b> <a class="float-right">Enfant a charge (4)</a>
                </li>
                <li class="list-group-item">
                  <b>Validation:</b> <a class="float-right">30.05.2021</a>
                  </li>
  
                  <li class="list-group-item">
                    <b>APCI:</b> <a class="float-right">004</a>
                    </li>
                    <li class="list-group-item">
                      <b>MED.F</b> <a class="float-right">01-00001547-92</a>
                      </li>
                      </div>
              <div class="card-body">
                <div class="card card-success">
                  <div class="card-header">
                    <h3  align="center">Liste des Consultation</h3>
                  </div>
                  </div>
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Numéro Patient</th>
                      <th>Patient</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-widget="expandable-table" aria-expanded="false">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><button type="button" class="btn btn-danger">Supprimer</button><button type="button" class="btn btn-success">Modifier</button><button type="button" class="btn btn-success">Afficher</button>
                      </td>
                    </tr>
                    
                    <tr data-widget="expandable-table" aria-expanded="true">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><button type="button" class="btn btn-danger">Supprimer</button><button type="button" class="btn btn-success">Modifier</button><button type="button" class="btn btn-success">Afficher</button>
        
                    </tr>
                   
                    <tr data-widget="expandable-table" aria-expanded="true">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><button type="button" class="btn btn-danger">Supprimer</button><button type="button" class="btn btn-success">Modifier</button><button type="button" class="btn btn-success">Afficher</button>
        
                    </tr>
                    
                    <tr data-widget="expandable-table" aria-expanded="false">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><button type="button" class="btn btn-danger">Supprimer</button><button type="button" class="btn btn-success">Modifier</button><button type="button" class="btn btn-success">Afficher</button>
        
                    </tr>
                    <tr data-widget="expandable-table" aria-expanded="false">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><button type="button" class="btn btn-danger">Supprimer</button><button type="button" class="btn btn-success">Modifier</button><button type="button" class="btn btn-success">Afficher</button>
        
                    </tr>
                    <tr data-widget="expandable-table" aria-expanded="false">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><button type="button" class="btn btn-danger">Supprimer</button><button type="button" class="btn btn-success">Modifier</button><button type="button" class="btn btn-success">Afficher</button>
        
                    </tr>
                    <tr data-widget="expandable-table" aria-expanded="false">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><button type="button" class="btn btn-danger">Supprimer</button><button type="button" class="btn btn-success">Modifier</button><button type="button" class="btn btn-success">Afficher</button>
        
                    </tr>
                  </tbody>
                </table>
              </div>
                
      <!-- /.card -->
      <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Ajouter Consultation</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <form #f="ngForm" (ngSubmit)="profil(f.value)">
                <div class="card-body">
                  <label>Numéro Consultation</label>
                  <input type="text" class="form-control" id="Numéro" placeholder="Numéro" ngModel name="Numéro">
                  
                     <div class="form-group"></div>
                     
                      <label>Date et heure de Consultation</label>
    
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="far fa-clock"></i></span>
                        </div>
                        <input type="text" class="form-control float-right" id="reservationtime" ngModel name="reservationtime">
                      </div>
                      <!-- /.input group -->
                   
                  <!-- select -->
                  <label>Type Consultation</label>
                      <select class="form-control select2" style="width: 100%;" ngModel name="type">
                        <option selected="selected">Consultation</option>
                        <option>Controle</option>
                      </select>
                      
              <label for="taiile">Taille</label>
              <input type="text" class="form-control" id="taille" placeholder="Taille" ngModel name="Taille">
                          <label for="Poids">Poids</label>    
                          <input type="text" class="form-control" id="taille" placeholder="Poids" ngModel name="Poids">
                          <label for="taiile">Tension</label>
              <input type="text" class="form-control" id="tension" placeholder="Tension" ngModel name="Tension">
                <label for="Température">Température</label>
              <input type="text" class="form-control" id="Température" placeholder="Température" ngModel name="Température">
              
              <label for="tel">Fréquence Cardique</label>
              
              <input type="text" class="form-control" id="Fréquence"placeholder="Fréquence" ngModel name="Fréquence">
              <label>Observation</label>
                          <textarea class="form-control" rows="3" placeholder="Observation..." ngModel name="Observation"></textarea>
                          
                      <h4 align="center">ACTE</h4>
                      
                         
              
              <label for="Type">Nom Acte</label>
              <input type="text" class="form-control" id="Nom" placeholder="Nom" ngModel name="Nom">
             
              <label>Examens complémentaires</label>
              
                <p>
                  <select class="form-control select2" style="width: 100%;" ngModel name="Examen">
                        <optgroup label="Imageries médicales" >
                            <option value="Imagerie CNAM Maladie Ordinaire" >Imagerie CNAM  </option>
                            <option value="Imagerie APCI" >Imagerie APCI</option>
                            <option value="Examen Imagerie" >Examen Imagerie</option>
                            
                        </optgroup>
                        <optgroup label="Examen biologiques">
                            <option value="Examen biologiques CNAM"  >Analyse biologiques CNAM</option>
                            <option value="Examen biologiques"  >Analyse biologiques</option>
                            <option value="Examen biologiques CNAM-APCI" >Analyse biologiques CNAM-APCI</option>
                        </optgroup>
                        <optgroup label="IRM" >
                          <option value="IRM CNAM" >IRM CNAM</option>
                          <option value="IRM" >IRM </option>
                          <option value="IRM CNAM-APCI" >IRM CNAM-APCI</option>
                      </optgroup>
                      <optgroup label="SCANNER" >
                        <option value="SCANNER CNAM" >SCANNER CNAM</option>
                        <option value="SCANNER" >SCANNER</option>
                        <option value="SCANNER CNAM-APCI" >SCANNER CNAM-APCI</option>
                    </optgroup>
                    <optgroup label="RADIO" >
                      <option value="RADIO CNAM" >RADIO CNAM</option>
                      <option value="RADIO" >RADIO</option>
                      <option value="RADIO CNAM-APCI" >RADIO CNAM-APCI</option>
                  </optgroup>
                        <option value="Lettre confrére" >Lettre confrére </option>
                            
                    </select>
                </p>
            
              
                
            </div>
            <div class="modal-footer justify-content-between">
              
              
            
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
            
            </form>
            </div>
            </div>
            </div>
    </div>
  </div>
  </div>