
   <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
   
      <router-outlet></router-outlet>
   
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
     
         
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="header.component.html" class="brand-link">
    <div class="item">
      
      <img class="ui medium circular image" src="assets/jjj.png">
    </div>
    <h3 class="brand-text font-weight-light">Dr.Abdelatif SIOUD</h3>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview menu-open">
          
          <ul class="nav nav-treeview">
            
            <li class="nav-item">
            
              <a routerLink="/dashboard/listepatient" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>Liste Patient</p>
                
              </a>
            </li>
            </ul>
            <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/dashboard/caisse" class="nav-link">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>Mouvement Caisse</p>
              </a>
            </li>
            </ul>
            <ul class="nav nav-treeview">
            <li class="nav-item">
             
              <a routerLink="/dashboard/rendezvous" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>Liste Rendez-Vous</p>
               
              </a>
            </li>
            </ul>
            <ul class="nav nav-treeview">
            <li class="nav-item">
              
              <a routerLink="/dashboard/certificat" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>Certificat Médical</p>
               
              </a>
            </li>
            </ul>
           
        </li>
      </ul>
   
  
