<div class="row">
  <div class="col-12">
    <div class="card card-success">
      <div class="card-header">
        <h3  align="center">Liste Patient</h3>
      </div>
      <div class="card-body">     
       
           
        <form #k="ngForm" (ngSubmit)="Rechercher(k.value)">
 
  <input type="text" class="form-control" ngModel  placeholder="Saisir Numéro de téléphone"  name="NumTel" ><button type="submit" class="btn btn-success float-right">Rechercher</button>
    </form>
    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modal-default">
      Ajouter Patient
       </button>
</div>


  <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Nom Patient</th>
              <th>Prénom Patient</th>
              <th>Date Naissance </th>
              <th>Numéro Téléphone</th>
              <th>Action</th>
            </tr>
          </thead>	
          <tbody *ngFor="let Patient  of dataList  ">
            <tr data-widget="expandable-table" aria-expanded="false">
              <td>{{Patient['NOM_P']  }}</td>
              <td>{{Patient['PREN_P'] }}</td>
              <td>{{Patient['DAT_NAI_P'] }}</td>
              <td>{{Patient['NUM_TEL_P']}}</td>
              <td><button type="submit" class="btn btn-danger" (click)="deletepatient(Patient['NUM_FICH_P'])" >Supprimer</button>
                <button type="submit"   data-toggle="modal" data-target="#modal-default" (click)="updteptient(Patient['NUM_FICH_P'],Patient['CIN_P'],Patient['NOM_P'],Patient['NOM_P'],Patient['PREN_P'],Patient['DAT_NAI_P'],Patient['PROF_P'],Patient['ADR_P'],Patient['SEXE_P'],Patient['CIVILITE_P'],Patient['EMAIL_P'])" class="btn btn-success">Modifier</button>
                <button type="submit" class="btn btn-success" [routerLink]="['/profilpatient/'+Patient['NUM_FICH_P']]">Afficher</button>
                
              </td>
            </tr>           
          </tbody>
        </table>
      </div>       
    </div>
    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ajouter Patient</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
          <form #f="ngForm" (ngSubmit)="addPatient(f.value)">
          <div class="card-body">
              
        <label for="C.I.N">C.I.N</label>
        <input type="text" class="form-control"  [(ngModel)]="CIN_P"  id="CIN_P" placeholder="cin"  name="CIN_P">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" [(ngModel)]="NOM_P" id="NOM_P" placeholder="Nom"  name="NOM_P">
        <label for="Nom">Nom</label>
        <input type="text" class="form-control" [(ngModel)]="PREN_P" id="PREN_P" placeholder="Prénom"  name="PREN_P">              
            <label>Sexe</label>
                <select class="form-control select2" style="width: 100%;"  name="SEXE_P">
                  <option selected="selected">Femme</option>
                  <option>Homme</option>
                </select>
                  
                  
                <label for="start">Date de Naissance:</label><br>

                <input type="date" id="start" name="trip-start"  name="DAT_NAI_P"><br>
                       
                
        <label>Civilité</label>
                <select class="form-control select2" style="width: 100%;"  name="CIVILITE_P">
                  <option selected="selected">Célibataire</option>
                  <option>Marié(e)</option>
                  <option>Divorcé(e)</option>
                </select>
                    <label for="Email">Email</label>    
        <input type="text" class="form-control" [(ngModel)]="EMAIL_P" id="EMAIL_P" placeholder="Email"  name="EMAIL_P">
          <label for="Adresse">Adresse</label>
        <input type="text" class="form-control" [(ngModel)]="ADR_P" id="ADR_P" placeholder="Adresse"  name="ADR_P">
        <label for="tel">Téléphone</label>
        <input type="text" class="form-control" [(ngModel)]="NUM_TEL_P" data-inputmask="'mask': ['999-999-9999 [x99999]', '+099 99 99 9999[9]-9999']" data-mask="" inputmode="text" ngModel name="NUM_TEL_P">
        <label for="Profession">Profession</label>
        <input type="text" class="form-control" [(ngModel)]="PROF_P" id="PROF_P" placeholder="Profession"  name="PROF_P">
      </div>
      <div class="modal-footer justify-content-between">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
      </div>
      </form>
      </div>
      </div>
      </div>
</div>
</div>
