<div class="col-md-12">
    <form #f="ngForm" (ngSubmit)="ordmedicale(f.value)">
        <div class="card-body">
        
          <h3  align="center">Ordonnance Medicale</h3>
        </div>
        <label for="Type">Date de Consultation:</label><br>
        <label for="Type">Code CNAM:</label><br>
        <label for="Type">Bénéficiaire:</label><br>
        <label for="Type">ID.CNAM:</label><br>
       
        <label for="Type">Prescription:</label><br>

        
                    
                <label for="text">Nom Médicament</label>
                <input type="text" class="form-control" id="Nom" placeholder="Nom" ngModel name="Nom" >
                <label for="text">Quantité </label>
                
                <input type="text" class="form-control" id="Quantité" placeholder="Quantité" ngModel name="Quantité" >
                <label for="text">Nombre de Fois</label>
                <input type="text" class="form-control" id="Nombre de fois" placeholder="Nombre de fois"  ngModel name="Nombre de fois">
                <label for="text">Dureé</label>
                <input type="text" class="form-control" id="Dureé" placeholder="Dureé"  ngModel name="Dureé">
               
              
              
                <button type="submit" class="btn btn-primary">imprimer</button>
            


























                
              </form>
              </div>
                
                
            

        
      
        
