<div class="col-md-12">
    <form #f="ngForm" (ngSubmit)="lettre(f.value)">
        <div class="card-body">
        
          <h3  align="center">LETTRE CONFRERE</h3>
        </div>
        
        <label for="Type">Prénom Médecin Confrére:</label><input type="text" class="form-control" id="Prénom" placeholder="Prénom" ngModel name="Prénom"><br>
        <label for="Type">Nom Médecin Confrére:</label><input type="text" class="form-control" id="NOM" placeholder="NOM" ngModel name="NOM"><br>
        <label for="Type">Spécialité:</label><input type="text" class="form-control" id="Spécialité" placeholder="Spécialité" ngModel name="Spécialité"><br>
        <label for="Type">Numéro Téléphone  :</label><input type="text" class="form-control" id="tel" placeholder="tel" ngModel name="tel"><br>
        <label for="Type">Adresse:</label><input type="text" class="form-control" id="Adresse" placeholder="Adresse" ngModel name="Adresse"><br>
       
        <label for="Type">Déscription Letrre Confrére:</label><br>

        
                    
               
                <input type="text" class="form-control" rows="3" id="Déscription" placeholder="Déscription"  ngModel name="Déscription">
               
              
              
                <button type="submit" class="btn btn-primary">imprimer</button>
            


























                
              </form>
              </div>
                
                
            

        
      
        


