
  <div class="col-md-12">
    
        <div class="card-body">
        
          <h3  align="center">Ordonnance Medicale Pour examens biologiques </h3>
          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <b>Date de Consultation:</b> <a class="float-right">11821343</a>
            </li>
            <li class="list-group-item">
              <b>Code CNAM:</b> <a class="float-right">11821343</a>
            </li>
           
            <li class="list-group-item">
              <b>Patient:</b> <a class="float-right">11821343</a>
            </li>
            <li class="list-group-item">
              <b>ID.CNAM:</b> <a class="float-right">11821343</a>
            </li>
             <li class="list-group-item">
              <b>APCI:</b> <a class="float-right">11821343</a>
            </li>
            <li class="list-group-item">
              <b>Prescription:</b> <a class="float-right">11821343</a>
            </li>
        
       </ul>
       </div>
       </div>
      
                
               
              
              
                
            

        
      
        