<div class="col-md-12">
    <form #f="ngForm" (ngSubmit)="scannercnam(f.value)">
        <div class="card-body">
        
          <h3  align="center">Ordonnance Medicale SCANNER CNAM</h3>
        </div>
        <label for="Type">Date de Consultation:</label><br>
        <label for="Type">Code CNAM:</label><br>
        <label for="Type">Patient:</label><br>
        <label for="Type">ID.CNAM:</label><br>
       
        <label for="Type">Prescription:</label><br>

        
                    
               
                <input type="text" class="form-control"  id="Dureé" placeholder="Prescription"  ngModel name="Prescription">
               
              
              
                <button type="submit" class="btn btn-primary">imprimer</button>
            


























                
              </form>
              </div>
                
                
            

        
      
        

