<div class="row" style="margin-left: 400px; margin-top: 100px;">
    <div class="col-md-6">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Connecter</h3>
            </div>
            <form #i="ngForm" (ngSubmit)="login(i.value)">
                <div class="card-body">
                    
                        <label for="Adresse">Adresse </label>
                        <input type="Adresse" class="form-control"  placeholder="Adresse" ngModel name="Adresse">
                   
                    
                        <label for="password">Mot Passe</label>
                        <input type="password" class="form-control"  placeholder="Mot de Passe" ngModel name="Password">
                     
                <label>Type Utilisateur</label>
                <select class="form-control select2" style="width: 100%;" ngModel name="TYPE_UT">
                  <option selected="selected">Médecin</option>
                  <option>Sécritaire</option>
                </select>
                    
                </div>
                <div class="card-footer">
                    <button type="button" type="submit"  class="btn btn-success btn-block">Connecter</button>
                </div> 
            </form>
                <button type="button" type="submit"  class="btn btn-success btn-block" [routerLink] ="['/inscription']"  >Inscription</button>  
        </div>
            </div>
      </div>
