
  <div class="col-md-12">
    <form #f="ngForm" (ngSubmit)="irmapci(f.value)">
        <div class="card-body">
        
          <h3  align="center">Ordonnance Medicale Pour examen IRM CNAM-APCI</h3>
        </div>
        <label for="Type">Date de Consultation:</label><br>
        <label for="Type">Code CNAM:</label><br>
        <label for="Type">Patient:</label><br>
        <label for="Type">ID.CNAM:</label><br>
        <label for="Type">APCI:</label><br>
        <label for="Type">Prescription:</label><br>

                <input type="text" class="form-control"  rows="20" id="Prescription" placeholder="Prescription" ngModel name="Prescription" >
               
              
              
                <button type="submit" class="btn btn-primary">imprimer</button>              
              </form>
              </div>
                
                
            

        
      
        
