<div class="row">
    <div class="col-12">
      <div class="card card-success">
        <div class="card-header">
          <h3  align="center">Liste des Rendez-Vous</h3>
        </div>
       
        <div class="card-body">
            <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modal-default">
                Ajouter Rendez-Vous
                </button>
            
                <form #e="ngForm" (ngSubmit)="Affiche(e.value)">
                  <div class="card-body"> 
                <input type="date" id="meeting-time"
                name="meeting-time" ngModel name="DAT_RDV">
                
                </div>
             
            <button type="submit" class="btn btn-success" (click)="Affiche(RDV['DAT_RDV'])">Affiche</button>
        
          </form>
        
                <div class="card bg-gradient-default">
                  <div class="card-header border-0">
    
                    
                     
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Numéro de RDV</th>
                      <th>Date et Heure</th>
                      <th>Nom et Prénom</th>
                      <th>Numéro Téléphone</th>
                      <th>Action</th>
                     
                     
                      
                    </tr>
                  </thead>
                  <tbody *ngFor="let RDV of dataList">
                    <tr data-widget="expandable-table" aria-expanded="false">
                      <td>{{RDV['NUM_RDV']}}</td>
                      <td>{{RDV['DAT_RDV']}} {{RDV['HEURE_RDV']}}</td>
                      <td>{{RDV['NOM_P_RDV']}}</td>
                      <td>{{RDV['NUM_TEL_P_RDV']}}</td>
                      <td><button type="button" class="btn btn-danger">Supprimer</button>
                        <button type="button" class="btn btn-success " data-toggle="modal" data-target="#modal-default">
                        Modifier
                        </button></td>
                    </tr>
                   
                            </tbody>
                            </table>
                        </div>
                            <div class="modal fade" id="modal-default">
                                <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title">Rendez-Vous</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form  #b="ngForm" (ngSubmit)="ajouterrendez(b.value)">
                                    <div class="card-body">
                                         <div class="form-group"></div>
                                        
                                              <label for="meeting-time">Date et heure de RDV:</label><br>

                                              <input type="datetime-local" id="meeting-time"
                                                     name="meeting-time" ngModel name="DAT_RDV"><br>
                                          <label for="Nom et Prénom">Nom et Prénom</label>
                                          <input type="text" class="form-control" id="NOM_P_RDV" placeholder="Nom et Prénom" ngModel name="NOM_P_RDV">
                                    
                                  <label for="Numéro Téléphone">Numéro Téléphone</label>
                                  <input type="text" class="form-control" id="NUM_TEL_P_RDV" placeholder="Numéro Téléphone" ngModel name="NUM_TEL_P_RDV">
                                  
                                  <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button> 
                                      <button type="submit" class="btn btn-primary">Enregistrer</button>    
                            </div>
                                    </div></form></div></div></div></div></div></div></div></div></div>          
                          
                            