<div class="row" style="margin-left: 400px; margin-top: 100px;">
    <div class="col-md-8">
        <div class="card card-header">
            <div class="card-body">
                <div class="card-body box-profile">
              <div class="text-center">        
              </div>
              
              <ul class="list-group list-group-unbordered mb-">
                
                <li class="list-group-item">
                  <h2 class="profile-username text-center">Certificat Médical</h2>
                  <p> Je sous signé, déclare avoir examiné ce jour :<a class="float">{{Certificat.DAT_REPOS}}</a>, Mr.(Mme_Mlle): <a class="float">{{Certificat.NOM_P_C}}</a>
                   
                   Au vu de cet examen l'état du patient nécessiterait  
                   <a class="float">{{Certificat.NBRE_JOURS_REPOS}}</a> jour(s) de repos sauf complications a partir de ce jour.</p>
                   <p class="float-right">Fait a Tunis le: <a class="float-right">{{Certificat.DAT_REPOS}}</a> </p>
                </li>
              </ul>
              </div>
              </div></div></div></div>

