<div class="row">
    <div class="col-12">
      <div class="card card-success">
        <div class="card-header">
          <h3  align="center">Encaissement/Dépenses Journaliéres</h3>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#modal-default">
            Nouveau Dépense
            </button>   
            <form #i="ngForm" (ngSubmit)="rechercher(i.value)">
              <div class="card-body"> 
            
            
            <input type="date" id="meeting-time"
            name="meeting-time" ngModel name="DAT_M_C">
            <div class="form-check" ngModel name="TYPE_M_C">
              <input class="form-check-input" type="radio" ngModel name="radio1" >
              <label class="form-check-label">Dépense</label>
              <input class="form-check-input" type="radio" name='radio2' >
              <label class="form-check-label">Encaissement</label>
            </div></div>
        <button type="submit" class="btn btn-success">Affiche</button>
    
      
    </form>
<div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr> 
          <th>Date</th>
          <th>Type Mouvement</th>
          <th>Montant</th>
          <th>Subvention CNAM</th>
          <th>Motif Dépense</th>
          <th>Numéro Mouvement</th>
        </tr>
      </thead>
      <tbody *ngFor="let MOUVEMENT_CAISSE of depenseList">
        <tr data-widget="expandable-table" aria-expanded="true">  
          <td>{{MOUVEMENT_CAISSE['DAT_M_C']}}</td>
          <td>{{MOUVEMENT_CAISSE['TYPE_M_C']}}</td>
          <td>{{MOUVEMENT_CAISSE['MONT_M_C']}}</td>
          <td>{{MOUVEMENT_CAISSE['SUBV_CNAM']}}</td>
          <td>{{MOUVEMENT_CAISSE['MOTIF_DEP']}}</td>
          <td>{{MOUVEMENT_CAISSE['NUM_CONS']}}</td>
        </tr>
           </tbody>
 </table>
                                 </div>
                                  <div class="modal fade" id="modal-default">
                                    <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title">Dépense/Encaissement</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <form #d="ngForm" (ngSubmit)="ajouterDepense(d.value)">
                                        <div class="card-body">
                                          <label for="type">Type Caisse	</label>
                                                  <select class="form-control select2" style="width: 100%;" ngModel name="TYPE_M_C">
                                                    <option selected="selected">Dépense</option>
                                                  </select>
                                             <div class="form-group"></div>
                                             <label for="meeting-time">Date Mouvement:</label><br>
            <input type="datetime-local" id="meeting-time"
            name="meeting-time" ngModel name="DAT_M_C"><br>  
                                      <label for="Numéro">Montant</label>    
                                          <input type="text" class="form-control" id="MONT_M_C" placeholder="Montant" ngModel name="MONT_M_C"> 
                                          <label for="Numéro">Motif Dépense </label>    
                                          <input type="text" class="form-control" id="MOTIF_DEP" placeholder="Motif Dépense" ngModel name="MOTIF_DEP">
                                        </div>
                                          <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                          <button type="submit" class="btn btn-primary">Enregistrer</button>
                                    </div>
                                    </form>
                                    </div>
                                    </div>
                                    </div>
</div>
 </div> 
    </div>
</div>